* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

header {
  width: 100vw;
  background: #000;
}

header > .container {
  flex-direction: row;
  justify-content: flex-end;
}

h1 {
  color: #b71c1c;
  width: calc(((100% - 20px) - 40%) / 2);
  text-align: center;
  font-size: 40px;
}

.container {
  max-width: 1164px;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-search {
  width: 40%;
  padding: 20px;
  text-align: center;
}

input {
 width: 300px;
 outline: none;
 font-size: 40px;
}

button {
  padding: 1px;
  border-radius: 2px;
  outline: none;
}

.box-data {
  width: 100%;
}

.films,
.series {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.cont-film,
.cont-serie {
  padding: 1.5px;
}

ul {
  padding: 20px 0;
}

ul > span {
  display: block;
  width: 105%;
  font-size: 36px;
  border-bottom: 2px solid red;
  padding: 10px 0;
}

li {
  list-style-type: none;
  color: #311b92;
  font-size: 17px;
  padding: 5px;
}

li > span {
  color: red;
}

.lang_s img,
.lang_m img {
  width: 25px;
  display: inline-block;
  margin-bottom: -2.5px;
}

.box-poster {
  width: 330px;
  height: 458px;
  position: relative;
}

.poster {
  width: 330px;
  height: 458px;
}

.box-dati {
  width: 330px;
  height: 458px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

.cont-film:hover .box-dati {
  display: block;
}

.locandina {
  max-width: 100%;
}

.voto > i {
  color: #ffe449;
}

.no-img {
  width: 330px;
  height: 458px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  border: 2px solid red;
  flex-wrap: wrap;
}

.no-img > span {
  width: 60%;
  text-align: center;
  font-size: 40px;
}
